* {
    margin: 0;
    padding: 0;
}

body {
    box-shadow: 10px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    padding-top: 100px;
}

header {
    width: 100%;
    background-color: #E7A58F;
    box-shadow: 0px 2px 10px #ccc;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
}
header ul{
    float: right;
    margin-top: 35px;
}
header img {
    border-image-source: 10px;
    
}
header ul a {
    text-decoration: none;
    color: #535353;
    margin: 15px;
    text-transform: uppercase;
}
header ul a:hover {
    color: #000000;
}
.titulo {
    padding: 5%;
    text-align: center;
    font-size: 15px;
}

h1 {
    /* centralizar */
    text-align: center;
    /* maiusculo */
    text-transform: uppercase;
    /* tamanho da fonte */
    font-size: 35px;
}

h2 {
    /* centralizar */
    text-align: center;
    /* maiusculo */
    text-transform: uppercase;
    /* tamanho da fonte */
    font-size: 20px;
}
.textoPrincipal {
    text-align: center;
    background-color: black;
    color: white;
    padding: 100px;

}
.imagem {
    margin-bottom: none;
}
#trilha {
    text-align: center;
    background-color: #f1f1f1;
    margin: -15px 0 0 0;
}
#coluna {
    padding: 20px;
    display: flex;
    margin:  0 25% 0 25%;
    text-align: center;
    justify-content: space-between;


}
.text2 {
    padding: 20px;
    text-align: left;
}

#trilha h3 {
    font-size:x-large;
}
#trilha h4 {
    font-size: large;
}
footer {
    width: 100%;
    background-color: #E7A58F;
    box-shadow: 1px 5px 10px #ccc;
    padding: 10px;
    box-sizing: border-box;
}
#rodape {
    text-align: center;
}
.download {
    color: black;
    background-color: #E7A58F;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    transition: 0.2s;
}
body #teste1 a:hover{
    transition: 0.4s;
    background-color: #966b5d;
    padding: 7px;
    letter-spacing: 1px;
}
html {
    scroll-behavior: smooth;
}
